@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color:#f2f2f2;
    font-family: 'Quicksand', sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.btn_kassan {
    float: right;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn_kassan span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn_kassan span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn_kassan:hover span {
    padding-right: 25px;
  }
  
  .btn_kassan:hover span:after {
    opacity: 1;
    right: 0;
  }
#yukari{
    z-index:100;    
    position:fixed;
    bottom:10px;    
    right:10px;    
    display:none   
}
#yukari_boyut
{
    width:50px;    
    height:50px    
}
.card_navbar {
    margin-left: 350px;
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.site_header{
    height: 70px;
    padding: 12px 0;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}
.container_fuild {
    margin-top: 20px;
}

.left_container img {
    width: 100%
}
.right_container img {
    width: 100%
}

.category h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 40pX;
}
.product_list {
    list-style-type:none;
    margin-left: 118px;
}

.category  ul {
    display: flex;
    flex-wrap: wrap;
}

.category .item {
    width: 220px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
}

/*.category .item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/

.category .item .item_images {
    margin-bottom: 34px;
    height: 40%;
    width: 100%;
}

.category .item .item_images img {
    height: 123%;
    width: 93%;
}
.cart_list table .item .item_images_cart {
    max-height: 50px;
    margin-right: 10px;
}

.category .item .item_description h5 {
    font-weight: bold;
}


.category .item .item_button .price_item {
    color: #ea2425;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
}
.category .item .item_button{
    margin: 40px 0px;
}


.category .item .item_button button {
    color: #fff;
    font-weight: 600;
    border: 1px solid #0192d5;
    background-color: #0096db;
    font-size: 13px;
    padding: 5px 6px;
    border-radius: 3px;
  
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}